*{
margin: 0;
padding: 0;	
}
.body {
	background:#efefef;
	font-family: sans-serif;
}
.title-box{
	text-align: center;
	margin: 100px auto 50px;
}
.title-box p {
	margin-top: 10px;
	line-height: 24px;
}
.Profile-box {
	width: 240px;
	height: 240px;
	background:#fff;
	border-radius: 4px;
	margin-bottom: 30px;
	box-shadow: 0 10px 10px 10px rgba(115,193,255,0.1);
	padding: 20px;
	position: relative;
	transition: background 0.5s;
}
.Profile-box img{
	width: 100px;
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 4px;
	transition: .5s;
}
.Profile-box h4{
	margin-top:25px;
	margin-bottom: 5px;
	color: #2196f3; 
}
small{
	color: #555;
}
.social-box{
	background:#2196f3; 
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;
}
.social-box .fa{
	margin: 5px;
	color: #fff;
	cursor: pointer;
}
.Profile-box p{
	text-align: center;
	line-height: 24px;
	color: #555;
}
.user-row{
	display: flex;
	justify-content:  space-between;
	flex-wrap: wrap;
	width: 85%;
	margin: auto;
}
.Profile-box img:hover{
	width: 240px; 
}
.Profile-box:hover h4{
	color: :#fff;
}
	.Profile-box:hover p{
	color: :#efefef;
}
	.Profile-box:hover small{
	color: :#efefef;

}
	.Profile-box:hover .social-box{
		background: #fff;

}
	.Profile-box:hover .social-box .fa{
			color: #2196f3;
}
